[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.mod,*.ent,*.dtd,*.elt}]
indent_style=space
indent_size=2

[{*.jhm,*.xjb,*.rng,*.wsdl,*.fxml,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.conf]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[{*.yaml,*.yml}]
indent_style=space
indent_size=2

[yarn.lock]
indent_style=space
indent_size=2

